{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

<a href="{{ url_for('add_entry_get') }}" >Add Entry</a>

<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Limit blog entries per page by: </span>
            <select name="limit" class="pagination">
                <option value="{{ 3|int(3, base=10) }}">3</option>
                <option value="{{ 8|int(8, base=10) }}">8</option>
                <option value="{{ 10|int(10, base=10) }}">10</option>
                <option value="{{ 20|int(20, base=10) }}">20</option>
            </select>
    </div>
    <button type="submit" class="btn btn-default" method="POST" action="{{ url_for('entries', limit=limit) }}">Go</button>
  </div>
</form>

{% if limit %}
    {% for entry in entries %}
    {{ macros.render_entry(entry, limit=limit) }}
    {% endfor %}
{% else %}
    {% for entry in entries %}
    {{ macros.render_entry(entry) }}
    {% endfor %}
{% endif %}

<ul class="pager">
    {% if has_next %}
    <li class="previous" >
    <a href="{{ url_for('entries', page=page + 1) }}">&larr; Older</a>
    </li>
    {% endif %}
    {% if has_prev %}
    <li class="next">
    <a href="{{ url_for('entries', page=page - 1) }}">&rarr; Newer</a>
    </li>
    {% endif %}
</ul>

{% endblock %}